<h1> Users </h1>

<% if @users %>
  <%= render partial: 'users/table', locals: {users: @users} %>
<% end %>

<button class = "btn btn-outline-primary"><%= link_to 'Refresh', users_path, remote: true %></button>